@model Book

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Title<br />
            @Model.Pages pages
        </h4>
        <h4>
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>$@Model.Price</small>
            </span>
        </h4>
        <h7>
            Author: @Model.AuthorFirstName @Model.AuthorLastName <br />
            Category and Classification: @Model.Category / @Model.Classification<br />
            Publisher: @Model.Publisher
        </h7>
    </div>

    <form id="@Model.BookId" asp-page="/Shop" method="post">
        <input type="hidden" asp-for="BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            @Model.Title
            <button type="submit" class="btn-success btn-sm pull-right" style="float:right">
                Add to Cart
            </button>
        </span>
    </form>
</div>