@page
@model OnlineBookstore.Pages.ShopModel
@{
}


<h2>Your Cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Book</th>
            <th class="text-left">Quantity</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th class="text-center">Edit</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Book.Title</td>
                <td class="text-left">@line.Quantity</td>
                <td class="text-right">$@line.Book.Price</td>
                <td class="text-right">$@((line.Quantity * line.Book.Price).ToString())</td>

                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="bookId" value="@line.Book.BookId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td class="text-right" colspan="4">Total:</td>
            <td class="text-right">$@Model.Cart.ComputeTotalSum().ToString()</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>